<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" th:href="@{/images/bank.png}" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<!-- Fontawesome CSS -->
<link rel="stylesheet" th:href="@{/css/all.min.css}" />

<title>Banque</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/}"><i
			class="fas fa-university"></i> Banque</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/clients}"><i class="fas fa-users"></i> Clients <span
						class="sr-only">(current)</span> </a></li>
			</ul>
		</div>
	</nav>

	<div class="container mt-5">
		<h1 class="display-4">
			<i class="fab fa-chromecast"></i> Liste des clients
		</h1>


		<table class="table table-striped ">
			<thead>
				<tr align="center">
					<th scope="col">#</th>
					<th scope="col">Nom</th>
					<th scope="col" colspan="2">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr align="center" th:each="client : ${clients}">
					<th scope="row" th:text="${client.idClient}"></th>
					<td th:text="${client.nomClient}"></td>
					<td><a th:href="@{/clients(id=${client.idClient})}"><button
								class="btn btn-info btn-sm"><i class="fas fa-edit"></i> Modifier</button></a></td>
					<td>
						<form onsubmit="return confirm('êtes-vous sûre de supprimer le client?')" method="POST" th:action="@{/clients}">
							<input type="hidden" name="deleteClient"
								th:value="${client.idClient}" />
							<button type="submit" class="btn btn-danger btn-sm">
								<i class="far fa-trash-alt"></i> Supprimer
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<hr>

		<form method="POST" th:object="${client}">
			<div class="form-group">
				<input type="hidden" th:field="*{idClient}" /> <label>Nom
					client: </label> <input type="text" class="form-control"
					th:field="*{nomClient}" placeholder="Saisir le nom du client...">
			</div>
			<button type="submit" class="btn btn-primary">
				<i class="fas fa-save"></i> Sauvegarder
			</button>
		</form>

	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/all.min.js}"></script>
</body>
</html>